{% load static %}
{% include 'header.html' %}
      

    <header class="pricing-header" style="background: url('{% static 'img/Gim_Precios.jpg' %}') no-repeat center center; background-size: cover; height: 300px;">
        <h1 class="display-4 font-weight-bold text-white" style="background-color: #ff0077; padding: 10px 20px; border-radius: 10px;">Precios</h1>
    </header>


    <div class="container mt-5">
        <h2 class="text-center mb-4">Membresías</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-pricing">
                    <div class="card-body text-center">
                        <h3 class="card-title">Membresía Estudiante</h3>
                        <p class="display-4">$10.000 / Mes</p>
                        <ul class="list-unstyled">
                            <li>Lunes a Viernes</li>
                            <li>Horario de 08:00 a 19:00hrs</li>
                            <li>Sábado: 11:00 a 15:00hrs</li>
                        </ul>
                        <a href="#" class="btn btn-custom">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-pricing">
                    <div class="card-body text-center">
                        <h3 class="card-title">Membresía Light</h3>
                        <p class="display-4">$22.000 / Mes</p>
                        <ul class="list-unstyled">
                            <li>Lunes a Viernes</li>
                            <li>Horario de 08:00 a 17:00hrs</li>
                            <li>Sábado: 11:00 a 15:00hrs</li>
                        </ul>
                        <a href="#" class="btn btn-custom">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-pricing">
                    <div class="card-body text-center">
                        <h3 class="card-title">Membresía Plus</h3>
                        <p class="display-4">$32.000 / Mes</p>
                        <ul class="list-unstyled">
                            <li>Lunes a Viernes</li>
                            <li>Horario de 08:00 a 22:00hrs</li>
                            <li>Sábado: 11:00 a 15:00hrs</li>
                        </ul>
                        <a href="#" class="btn btn-custom">Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'footer.html' %}
    
